@use '../sass/variaveis' as *;
@import url('https://fonts.googleapis.com/css2?family=Inder&family=Inter:wght@200;400;700&family=Irish+Grover&family=Joti+One&family=Poppins:ital,wght@0,400;0,700;1,400;1,800&family=Raleway:wght@400;500;600;700&display=swap');


.AddTarefa {
    color: $color-white; 
    text-align: center;
    margin-bottom: 20px;
    background-color: $bg-bage;
    width: 70%;
    margin: 90px auto;
    border-radius: 20px;
    height: 395px;
    

    &__FormTitle {
        display: flex;
        justify-content: space-between;
        width: 710px;
        margin: auto;
        line-height: 40px;
        padding-top: 25px;
        font-family: 'Irish Grover';
        font-size: 30px;
    }

    &__NovaTarefa {
        margin: auto;
        width: 700px;
        display: flex;
        justify-content: center;
        justify-content: space-between;
        padding-top: 20px;
        font-style: italic;
        line-height: 29px;
    }

    input {
        border: none;
        background-color: $bg-opacity;
        color: $color-darkgray;
        font-style: italic;
        font-size: 15px;
        border-radius: 20px;
        padding: 5px;
        width: 250px;
    }

    .Cont-img {
        background-color: $bg-opacity;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
    }

    img {
        cursor:pointer;
        width: 20px;
        height: 20px;
    }

}