@use '../sass/variaveis' as *;

.Header {
    height: 74px;
    background-color: $bg-blue;

    &__cont-h1 {
        display: flex;
        padding-top: 25px;
        font-size: 10px;
        margin-left: 60px;
    }

    &__h1-white {
        color: $color-white;
        padding-top: 10px;
        font-weight: 400;
    }

    &__Selected-h1 {
        background-color: $bg-white;
        color: $color-blue;
        margin-left: 60px;
        width: 175px;
        height: 50px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-align: center;
        padding-top: 10px;
        font-weight: 600;
    }
}