
@use '../../sass/variaveis' as *;
@import url('https://fonts.googleapis.com/css2?family=Inder&family=Inter:wght@200;400;700&family=Irish+Grover&family=Joti+One&family=Poppins:ital,wght@0,400;0,700;1,400;1,800&family=Raleway:wght@400;500;600;700&display=swap');

.DeleteTarefa {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__textPrincipal {
        color: white;
        font-size: 35px;
        margin-top: 30px;
    }
    &__container {
        width: 650px;
        background-color: $bg-bage;
        border-radius: 10px;
        text-align: center;
        font-family: 'Irish Grover';
        height: 400px;
        margin-top: 50px;
    }

    &__container h1 {
        margin-top: 70px;
        font-size: 39px;
        font-weight: 600;
        color: $color-darkgray;
    }

    &__container p {
        margin-top: 40px;
        font-size: 18px;
    }

    &__contButon {
        margin-top: 50px;
        margin-bottom: 70px;
    }

    &__contButon button {
        width: 200px;
        height: 50px;
        margin-left: 20px;
        background-color: $bg-opacity;
        border: none;
        border-radius: 5px;
        font-family: 'Irish Grover';
        font-size: 30px;
        color: $color-darkgray;
        margin-top: 90px;
        cursor: pointer;
    }

    &__contButon button:hover {
        background-color: rgb(229, 213, 141);
    }

}